<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lingo Talks Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <form action="/login" method="post">
            <p id="p1">𝖂𝖊𝖑𝖈𝖔𝖒𝖊 𝕿𝖔</p>
            <p>𝐿𝒾𝓃𝑔𝑜 𝒯𝒶𝓁𝓀𝓈</p>
            <h2>Login</h2>
            <input placeholder="Name" name="name" type="text" required><br>
            <input placeholder="Password" name="password" type="password" required><br>
            <input class="sub" type="submit"><br>
            <h3>Don't have an account?</h3>
            <a href="/forget">Forgot your password?</a>
            <a href="/signup">Create a new account</a>
        </form>
    </div>
    <h2 contenteditable="false">Lingo Talks</h2>
</body>
</html>
