<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <h2 contenteditable="flase">Lingo Talks</h2>
    <div class="container">
        <form action="/signup" method="post" >
            <p>𝐿𝒾𝓃𝑔𝑜 𝒯𝒶𝓁𝓀𝓈</p>
            <input placeholder="Name" name="name" type="text" required><br>
            <input placeholder="Password" name="password" type="password" required><br>
            <button type="submit" >submit</button><br>
            <a href="/">Go back to login page</a>
        </form>
    </div>
</body>
</html>
