<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Translator</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="wave">
    <div class="wave">
    <div class="wave">
        <div class="container">
            <div class="wrapper">
                <div class="text-input">
                    <textarea class="from-text" placeholder="Write the text here....."></textarea>
                    <textarea class="to-text" placeholder="Translating...." readonly disabled></textarea>
                </div>
                <ul class="controls">
                    <li class="row from">
                        <div class="icons">
                            <i id="from" class="fas fa-volume-up"></i>
                            <i id="from" class="fas fa-copy"></i>
                            <i id="mic" class="fas fa-microphone"></i>
                        </div>
                        <select class="language-select"></select>
                    </li>
                    <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
                    <li class="row to">
                        <select class="language-select"></select>
                        <div class="icons">
                            <i id="to" class="fas fa-volume-up"></i>
                            <i id="to" class="fas fa-copy"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <button id="translateButton">Translate Text</button>
        </div>
        <script src="/js/language.js"></script>
        <script src="/js/translator.js"></script>
    </div>
    </div>
    </div>
</body>
</html>
